.registerSection {
  .registerText {
    color: vars.$color-secondary;
    font-size: 16px;
    font-weight: 400;
  }

  .registerLink {
    font-size: 16px;
    font-weight: 500;
  }
}

.termsText {
  font-size: 12px;
  font-weight: 400;
  color: vars.$color-secondary;
}
