.container {
  display: flex;
  align-items: center;
  gap: 16px;
  width: fit-content;
  padding: 0;
}

.backButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.title {
  font-weight: 600;
  line-height: 24px;
}
