.expandPanel {
  width: 100%;
  max-width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 8px 24px 8px;
  height: 100%;
  gap: 16px;
  max-height: calc(100vh - 64px);

  .sidebarMenuBody {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 16px;
  }

  .icon {
    transition: transform 0.3s ease;
  }

  .rotated {
    transform: rotate(45deg);
  }
}
