:root {
  --background: #ffffff;
  --foreground: #1f2937;
  --font-base: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-weight: 400;
  height: 100%;
  min-height: 100vh;
  font-family: var(--font-base);
  color: var(--foreground);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
