.tableSelectionContainer {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  line-height: 22px;

  .selectionText {
    font-weight: 400;
  }

  .deselectButton {
    border-color: vars.$color-border;
    width: 145px;
    font-weight: 500;
    color: vars.$color-red;

    &:hover {
      color: vars.$color-red !important;
    }
  }

  .removeButton {
    width: 130px;
    font-weight: 400;
  }
}
